<h1>Welcome to TangleTown!</h1>

<div class="row-fluid">
	<div class="span4"> 
		<h3>Breaking Ground</h3>
		<p>TangleTown broke ground on April 23, 2013 and is currently under construction. As we expand, we hope to grow into a fun and welcoming community, as well as a handy resource to support practitioners of the <a href="http://www.zentangle.com" target="_blank">Zentangle<sup>&reg;</sup> Method</a>. Please check back regularly for updates, and if you have any questions or comments, feel free to <a href="mailto:admin@tangletown.net?subject=TangleTown%20Questions%20or%20Comments" target="_blank">email us</a>.
		<br /><br />
		<h3>TangleTown Country Store</h3>
		<p>While you wait, you may be interested in our <strong>TangleTown Brag Books</strong>. These handy little albums come in two sizes: Standard and ATC. Just swing by the <strong><a href="http://www.etsy.com/shop/TangleTown" target="_blank">TangleTown Country Store</a></strong> to learn more or make a purchase.</p>
		<br />
		<div class="row-fluid">
			<div class="span6 tt-image"> 
				<a href="https://www.etsy.com/listing/130199092/tangletown-brag-book-standard-size-35" target="_blank"><img class="tt-image" src="/img/reg-open-full.jpeg"></a>
			</div> 
			<div class="span6 tt-image"> 
				<a href="https://www.etsy.com/listing/130199092/tangletown-brag-book-standard-size-35" target="_blank"><img class="tt-image" src="/img/reg-hand.jpeg"></a>
			</div>  
		</div>
		<br /><br />
		<h3>Credits</h3>
		<p> TangleTown.NET was founded &amp; created by Georgia King. Georgia has been tangling since February of 2013. <a href="https://www.facebook.com/media/set/?set=a.10200670744113377.206876.1304012625&type=3" target="blank">View Georgia's Tangles &raquo;</a>
		<p>The Zentangle<sup>&reg;</sup> Method was created by Rick Roberts and Maria Thomas and is copyrighted. Zentangle&reg; is a registered trademark of Zentangle, Inc. Learn more at <a href="http://www.zentangle.com" target="_blank">zentangle.com</a>.</p>
	</div>
	<div class="span8">
		<h3>TangleTown Public Library</h3>
		<p>Here you can browse our small but growing collection of tangles, and check back regularly for more original patterns! Feel free to draw these, share them with friends, or link back to this page from your own site. If you've seen any of these elsewhere, please <a href="mailto:admin@tangletown.net?subject=TangleTown%20Pattern%20Originality" target="_blank">let us know</a>.</p>
		<br />
		<div class="row-fluid">
			<div class="span4 tt-image"> 
				<a href="#jottModal" role="button" class="btn" data-toggle="modal"><img class="tt-image" src="/img/jott.jpg"></a>
			</div> 
			<div class="span4 tt-image"> 
				<a href="#krubbiesModal" role="button" class="btn" data-toggle="modal"><img class="tt-image" src="/img/krubbies.jpg"></a>
			</div>  
			<div class="span4 tt-image"> 
				<a href="#lattockModal" role="button" class="btn" data-toggle="modal"><img class="tt-image" src="/img/lattock.jpg"></a>
			</div>  
		</div>
		<br /><br />
		<div class="row-fluid">
			<div class="span4 tt-image"> 
				<a href="#twystalModal" role="button" class="btn" data-toggle="modal"><img class="tt-image" src="/img/twystal.jpg"></a>
			</div> 
			<div class="span4 tt-image"> 
				<a href="#mitochondriaModal" role="button" class="btn" data-toggle="modal"><img class="tt-image" src="/img/mitochondria.jpg"></a>
			</div>  
			<div class="span4 tt-image"> 
				<a href="#gringalModal" role="button" class="btn" data-toggle="modal"><img class="tt-image" src="/img/gringal.jpg"></a>
			</div>  
		</div>
	</div>
</div>


<!-- Modals -->
<div id="jottModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="jottModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="jottModalLabel">"Jott" by Georgia King</h3>
  </div>
  <div class="modal-body">
    <img src="/img/jott.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="krubbiesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="krubbiesModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="krubbiesModalLabel">"Krubbies" by Georgia King</h3>
  </div>
  <div class="modal-body">
    <img src="/img/krubbies.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="lattockModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lattockModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="lattockModalLabel">"Lattock" by Georgia King</h3>
  </div>
  <div class="modal-body">
    <img src="/img/lattock.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="twystalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="twystalModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="twystalModalLabel">"Twystal" by Georgia King</h3>
  </div>
  <div class="modal-body">
    <img src="/img/twystal.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="mitochondriaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mitochondriaModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="mitochondriaModalLabel">"Mitochondria" by Georgia King</h3>
  </div>
  <div class="modal-body">
    <img src="/img/mitochondria.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div id="gringalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="gringalModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="gringalModalLabel">"Gringal" by Georgia King</h3>
  </div>
  <div class="modal-body">
    <img src="/img/gringal.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>



<br /><br /><br /><br /><br /><br />
<ul class="unstyled">
<% @patterns.each do |pattern| %>
	<li>
    <hr/>
    <span class="pull-right">
      <form action='/patterns/<%= pattern.id %>' method='post'>
        <input type='hidden' name='_method' value='delete' /> 
        <input type='submit' value='Delete Pattern' />
      </form>  
    </span>
    <%= pattern.name %> | <%= pattern.original_url %> | <%= pattern.tanglepatterns_url %><br />
    <%= pattern.step1url %> | <%= pattern.step2url %> | <%= pattern.step3url %><br />
    <%= pattern.step4url %> | <%= pattern.step5url %> | <%= pattern.step6url %><br />
    <%= pattern.step7url %> | <%= pattern.step8url %> | <%= pattern.step9url %>
    <!--
		<img src="<%= pattern.step1url %>"> | <img src="<%= pattern.step2url %>"> | <img src="<%= pattern.step3url %>"><br /><br />
		<img src="<%= pattern.step4url %>"> | <img src="<%= pattern.step5url %>"> | <img src="<%= pattern.step6url %>"><br /><br />
		<img src="<%= pattern.step7url %>"> | <img src="<%= pattern.step8url %>"> | <img src="<%= pattern.step9url %>"><br /><br />
    -->
	</li>
<% end %>
</ul>













